@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: 'Dancing Script', cursive;
  }
}

@layer components {
  .text-font-base{
    font-family: 'Raleway', sans-serif;
  }
  .btn-primary {
    @apply rounded-[32px] bg-[#996E6D] h-12 flex justify-center items-center font-semibold border-none text-base text-semi-black hover:!text-semi-black hover:bg-white hover:bg-none;
    /* background: linear-gradient(135deg, #febc28 0%, #f179f7 100%); */
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .btn-secondary {
    @apply rounded-[32px] h-12 flex justify-center items-center font-semibold border-none text-base text-[#4F42D4] hover:!text-semi-black bg-white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }

  .btn-invert {
    @apply rounded-[32px] h-12 flex justify-center items-center font-semibold text-semi-black border-none;
    background: #fff;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .font-primary {
    font-family: "Inter", sans-serif;
  }
  .font-secondary {
    font-family: "Inter", sans-serif;
  }
  .bgGradientMid {
    background: linear-gradient(
      137deg,
      #5c3de4 26.04%,
      #3d6ce4 64.06%,
      #ffa0fb 100%
    );
  }
  .bg-page1 {
    background: url("/assets/images/chew/thumb.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .bgChew {
    background: url("/assets/images/chew/chew_gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgChewAirdrop {
    background: url("/assets/images/chew/chew_airdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-page1-mobile {
    height: 378px;
    background: url("/assets/images/page1-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .loading_img {
    animation: MoveUpDown 1.5s linear infinite;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @media only screen and (max-height: 900px) {
    .firstPage {
      height: 60rem !important;
    }
  }
  @media only screen and (min-height: 1080px) {
    .firstPage {
      height: 60rem !important;
    }
  }
}
